<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <a routerLink="/servers" (click)="submitEvent()">Send Analytics Event</a>
    <!-- Absolute path : /servers Relative : servers (if im already on /servers its a bug trying to hit /servers/servers)  -->
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

